

import spock.lang.Specification

class Day${DAY_NUMBER}Test extends Specification {

    def "Part1Test"() {
        given:
        var day = new Day${DAY_NUMBER}()

        expect:
        day.part1("${DAY_NAME}-test") == 1
    }

    def "Part1"() {
        given:
        var day = new Day${DAY_NUMBER}()

        when:
        var result = day.part1("${DAY_NAME}")

        then:
        result != 0
        print(result)
    }

    def "Part2Test"() {
        given:
        var day = new Day${DAY_NUMBER}()

        expect:
        day.part2("${DAY_NAME}-test") == 1
    }

    def "Part2"() {
        given:
        var day = new Day${DAY_NUMBER}()

        when:
        var result = day.part2("${DAY_NAME}")

        then:
        result != 1
        print(result)
    }
}
